*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
./app/src/main/cpp/freetype/.git
./app/src/main/cpp/imgui/.git
./app/src/main/cpp/openmsx/.git
./app/src/main/cpp/SDL_ttf/.git